* {
  font-family: sans-serif;
}

body {
  background-color: #242424;
  color: white;
  margin: 0 15rem;
}

nav{
  background-color: #7F1925;
  width: 100%;
  height: 70px;
  margin: 0;
}

nav li {
  display: inline-block;

}

nav a {
  color: white;
  text-decoration: none;
  font-size: 30px;
}